html, body {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  font-family: 'Prata', serif;
  height: 100vh;
  width: 100%;
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 1em;
}

#logo {
  width: 100px;
  height: auto;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}

.drums {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
  flex-wrap: wrap;
  flex-direction: row;
}

.drum {
  width: 150px;
  height: 100px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  margin: 15px;
  padding: 25px;
}

.drum > p {
  margin-top: 0;
}

.drum:active {
  background-color: lightgrey;
  font-weight: bold;
}

img {
  height: 60px;
  margin-top: 0;
  margin-bottom: 2px;
}

@media only screen and (max-device-width: 480px) {
  .drums {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      flex-direction: row;
      font-size: 12px;
  }
  .drum {
      width: 60px;
      height: 60px;
      background-color: white;
      text-align: center;
      border-radius: 10px;
      margin: 5px;
      padding: 25px;
  }
  .drum > p {
    margin-top: -10px;
  }
img {
    height: 40px;
    margin-top: 0;
    margin-bottom: 2px;
  }
}
